Repository SchernHe/brainfck-interpreter: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, poetry-check, mypy

ruff:
  name: ruff
  entry: poetry run ruff
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: poetry run mypy src
  pass_filenames: false
  language: system

Add test for hello
  .gitignore
  .pre-commit-config.yaml
  brainfck_interpreter/interpret.py
  tests/test_interpret.py
Due: ruff

Move implementation to interpreter
  brainfck_interpreter/interpret.py
  brainfck_interpreter/interpreter.py
  poetry.lock
  pyproject.toml
  tests/test_interpret.py
  tests/test_interpreter.py
Due: ruff, poetry-check

Implement extract_sequence()
  brainfck_interpreter/interpret.py
  brainfck_interpreter/interpreter.py
  pyproject.toml
  tests/test_interpreter.py
Due: ruff, poetry-check

Implement interpret()
  README.md
  brainfck_interpreter/interpreter.py
  tests/test_interpreter.py
Due: ruff

Implement the click CLI
  brainfck_interpreter/interpret.py
  brainfck_interpreter/interpreter.py
  tests/conftest.py
  tests/test_data/hello_world.txt
  tests/test_interpret.py
  tests/test_interpreter.py
Due: ruff

Implement GitHub Actions
  .github/workflows/lint.yaml
  .github/workflows/pytest.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Implement the brainf*ck interpreter (#1)
  .github/workflows/lint.yaml
  .github/workflows/pytest.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  brainfck_interpreter/interpret.py
  brainfck_interpreter/interpreter.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_data/hello_world.txt
  tests/test_interpret.py
  tests/test_interpreter.py
Due: ruff, poetry-check

Path conditions:
  ruff: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: ^src(/[^/]*)*/[^/]*\.py$
